################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Supermercado/FileContentIndex
/.vs/Supermercado/CopilotIndices/17.13.431.34963/SemanticSymbols.db
