@model SupermercadoServices.Models.Proveedor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefonos" class="control-label"></label>
                <input asp-for="Telefonos" class="form-control" />
                <span asp-validation-for="Telefonos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cbu" class="control-label"></label>
                <input asp-for="Cbu" class="form-control" />
                <span asp-validation-for="Cbu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicionIva" class="control-label"></label>
                <select asp-for="CondicionIva" class="form-control"></select>
                <span asp-validation-for="CondicionIva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class ="form-control" asp-items="ViewBag.LocalidadId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
